<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MagicUnicorn_Demo1" connectionString="Data Source=(local);Initial Catalog=MagicUnicorn_Demo1_Test;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>