

@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("All Manufacturers Async", "AllManufacturersAsync")
<br/>
@Html.ActionLink("Edit Manufacturer Async", "EditAsync", new {id=1})